body {
  margin-top: 60px;
}

.wood {
  background: url("./images/girlWithPearljpg.jpg");
  background-size: 100%;
}

.mainTitle {
  font-size: 500%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.roundedImage {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.blockquote {
  border: none;
}